.idea/workspace.xml
coverage/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
lib
lib_test
*.log
# ignore environemt file which was used only in development
.env
src/smart-contract-types
